Problem 1: Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")

#  Split sentence into words
words = sentence.split()

# set (removes duplicates)
unique_words = set(words)


print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: hi hello everyone
Unique words count: 3
Unique words: {'hi', 'hello', 'everyone'}

Problem 2: Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#  Find maximum salary
highest_salary = max(employees.values())


for name, salary in employees.items():
    if salary == highest_salary:
        print("Highest Salary:", name, "-", salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]

# first number as max and min
maximum = numbers[0]
minimum = numbers[0]


for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above Price 1000

In [5]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]

total_days = len(attendance)
present_days = attendance.count("P")

percentage = (present_days / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [8]:
text = "python"

char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [9]:
numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

Problem 9: Check if Key Exists in Dictionary

In [10]:
employees = {"Ravi": 75000, "Anita": 68000}

if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [11]:
marks = [70, 75, 80, 65]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5